<div class="lyrow dragitem">
	<a href="#close" class="remove label label-danger">
		<i class="glyphicon-remove glyphicon"></i>
	</a>
	<span class="drag label label-default hide">
		<i class="glyphicon glyphicon-move"></i>
	</span>
	<span class="configuration">
		<a href="#" class="btn btn-default btn-xs clone">
			<i class="fa fa-clone"></i>
		</a>
	</span>

	<div class="preview">
		<div class="icon button-block"></div>
		<label>Bouton</label>
	</div>
	<div class="view">
		<div class="row clearfix">

			<table width="640" class="main" cellspacing="0" cellpadding="0" border="0" bgcolor="#FFFFFF" align="center"
				   style="background-color:#FFFFFF;" data-type="button">
				<tbody>
					<tr>
						<td style="padding: 15px 50px 15px 50px;" class="buttons-full-width">
							<table width="" cellspacing="0" cellpadding="0" border="0" align="center" class="button">
								<tbody>
									<tr>
										<td style="padding: 10px 10px 10px 10px;" class="button">
											<a style="background-color: #3498DB;color: #FFFFFF;font-family: Arial;font-size: 15px;line-height:21px;display: inline-block;border-radius: 6px;text-align: center;text-decoration: none;font-weight: bold;display: block;margin: 0px 0px; padding: 12px 20px;"
											   class="button-1" href="#" data-default="1">
												Cliquez-ici !
											</a>
											{#<!--[if mso]>#}
											{#</center>           </v:roundrect>#}
											{#<![endif]-->#}
										</td>
									</tr>
								</tbody>
							</table>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
