<div class="lyrow dragitem">
	<a href="#close" class="remove label label-danger">
		<i class="glyphicon-remove glyphicon"></i>
	</a>
	<span class="drag label label-default hide">
		<i class="glyphicon glyphicon-move"></i>
	</span>
	<span class="configuration">
		<a href="#" class="btn btn-default btn-xs clone">
			<i class="fa fa-clone"></i>
		</a>
	</span>

	<div class="preview">
		<div class="icon image-text-incol-2"></div>
		<label>Image/Texte</label>
	</div>
	<div class="view">
		<div class="row clearfix">
			<table class="main" width="640" cellspacing="0" cellpadding="0" border="0" bgcolor="#FFFFFF" align="center"
				   style="background-color:#FFFFFF;" data-type="imgtxtincol">
				<tbody>
					<tr>
						<td>
							<table class="main" align="center" bgcolor="#FFFFFF" border="0" cellpadding="0"
								   cellspacing="0" width="640">
								<tbody>
									<tr>
										<td class="image-caption" style="padding: 0px 50px 0px 50px;">
											<table class="image-caption-column" align="left" border="0" cellpadding="0"
												   cellspacing="0" width="255">
												<tbody>
													<tr>
														<td height="15" width="100%"></td>
													</tr>
													<tr>
														<td class="image-caption-content image"
															style="font-family: Arial; font-size: 13px; color: #000000;">
															<img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=350&h=150"
																 alt="" style="display: block;" height="154" align="2"
																 border="0" width="255">
														</td>
													</tr>
													<tr>
														<td height="15" width="100%"></td>
													</tr>
													<tr>
														<td class="image-caption-content text"
															style="font-family: Arial; font-size: 13px; color: #000000; line-height: 22px;"
															align="left">
															<p style="margin: 0px 0px 10px 0px;        line-height: 22px;">
																Lorem ipsum dolor sit amet,
																consectetur adipisci elit,
																sed eiusmod tempor incidunt
																ut labore et dolore magna
																aliqua. Ut enim ad minim
																veniam, quis nostrum
																exercitationem ullam
																corporis suscipit
																laboriosam, nisi ut aliquid
																ex ea commodi consequatur.
																Quis aute iure reprehenderit
																in voluptate velit esse
																cillum dolore eu fugiat
																nulla pariatur. Excepteur
																sint obcaecat cupiditat non
																proident, sunt in culpa qui
																officia deserunt mollit anim
																id est laborum. </P>
														</td>
													</tr>
													<tr>
														<td class="image-caption-bottom-gap" height="5"
															width="100%"></td>
													</tr>
												</tbody>
											</table>
											<table class="image-caption-column" align="right" border="0" cellpadding="0"
												   cellspacing="0" width="255">
												<tbody>
													<tr>
														<td class="image-caption-top-gap" height="15" width="100%"></td>
													</tr>
													<tr>
														<td class="image-caption-content image"
															style="font-family: Arial; font-size: 13px; color: #000000;">
															<img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=350&h=150"
																 alt="" style="display: block;" height="154" align="2"
																 border="0" width="255">
														</td>
													</tr>
													<tr>
														<td height="15" width="100%"></td>
													</tr>
													<tr>
														<td class="image-caption-content text"
															style="font-family: Arial; font-size: 13px; color: #000000; line-height: 22px;"
															align="left">
															<p style="margin: 0px 0px 10px 0px;        line-height: 22px;">
																Lorem ipsum dolor sit amet,
																consectetur adipisci elit,
																sed eiusmod tempor incidunt
																ut labore et dolore magna
																aliqua. Ut enim ad minim
																veniam, quis nostrum
																exercitationem ullam
																corporis suscipit
																laboriosam, nisi ut aliquid
																ex ea commodi consequatur.
																Quis aute iure reprehenderit
																in voluptate velit esse
																cillum dolore eu fugiat
																nulla pariatur. Excepteur
																sint obcaecat cupiditat non
																proident, sunt in culpa qui
																officia deserunt mollit anim
																id est laborum. </p>
														</td>
													</tr>
													<tr>
														<td height="5" width="100%"></td>
													</tr>
												</tbody>
											</table>
										</td>
									</tr>
								</tbody>
							</table>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
