<div class="lyrow dragitem">
	<a href="#close" class="remove label label-danger">
		<i class="glyphicon-remove glyphicon"></i>
	</a>
	<span class="drag label label-default hide">
		<i class="glyphicon glyphicon-move"></i>
	</span>
	<span class="configuration">
		<a href="#" class="btn btn-default btn-xs clone">
			<i class="fa fa-clone"></i>
		</a>
	</span>

	<div class="preview">
		<div class="icon image-text-col-1"></div>
		<label>Image/Texte</label>
	</div>
	<div class="view">
		<div class="row clearfix">
			<table class="main" width="640" cellspacing="0" cellpadding="0" border="0" bgcolor="#FFFFFF" align="center"
				   style="background-color:#FFFFFF;" data-type="imgtxtcol">
				<tbody>
					<tr>
						<td class="image-text" align="left"
							style="padding: 15px 50px 10px 50px; font-family: Arial; font-size: 13px; color: #000000; line-height: 22px;">
							<table width="190" align="left">
								<tbody>
									<tr>
										<td class="text-block">
											<p style="line-height: 22px;">
												Lorem ipsum dolor sit amet, consectetur
												adipisci elit, sed eiusmod tempor incidunt
												ut labore et dolore magna aliqua. Ut enim ad
												minim veniam, quis nostrum exercitationem
												ullam corporis suscipit laboriosam, nisi ut
												aliquid ex ea commodi consequatur. Quis aute
												iure reprehenderit in voluptate velit esse
												cillum dolore eu fugiat nulla pariatur.
												Excepteur sint obcaecat cupiditat non
												proident, sunt in culpa qui officia deserunt
												mollit anim id est laborum. </p>
										</td>
									</tr>
								</tbody>
							</table>
							<table class="image-in-table" width="190" align="right">
								<tbody>
									<tr>
										<td class="gap" width="30"></td>
										<td width="160">
											<img border="0" align="left"
												 src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=350&h=150"
												 style="display: block;margin: 0px;max-width: 340px">
										</td>
									</tr>
								</tbody>
							</table>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
