
<div class="lyrow dragitem">
	<a href="#close" class="remove label label-danger">
	<i class="glyphicon-remove glyphicon"></i>
	</a>
	<span class="drag label label-default hide">
		<i class="glyphicon glyphicon-move"></i>
	</span>
	<span class="configuration">
		<a href="#" class="btn btn-default btn-xs clone">
			<i class="fa fa-clone"></i>
		</a>
	</span>

	<div class="preview">
		<div class="icon image-block"></div>
		<label>Image</label>
	</div>
	<div class="view">
		<div class="row clearfix">
			<table width="640" class="main" cellspacing="0" cellpadding="0" border="0"
				   align="center" style="background-color:#FFFFFF;" data-type="image">
				<tbody>
					<tr>
						<td align="center" style="padding:15px 50px 15px 50px;"
							class="image">
							<img class="" border="0" align="one_image"
								 style="display:block;max-width:540px" alt=""
								 src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=350&h=150"
								 tabindex="0">
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
