<div class="lyrow dragitem">
	<a href="#close" class="remove label label-danger">
		<i class="glyphicon-remove glyphicon"></i>
	</a>

	<span class="drag label label-default hide">
		<i class="glyphicon glyphicon-move"></i>
	</span>
	<span class="configuration">
		<a href="#" class="btn btn-default btn-xs clone">
			<i class="fa fa-clone"></i>
		</a>
	</span>

	<div class="preview">
		<div class="icon text-block"></div>
		<label>Texte</label>
	</div>
	<div class="view">
		<div class="row clearfix">
			<table width="640" class="main" cellspacing="0" cellpadding="0" border="0" style="background-color:#FFFFFF"
				   align="center" data-type='text-block'>
				<tbody>
					<tr>
						<td class="block-text" data-clonable="true" align="left"
							style="padding:10px 50px 10px 50px;font-family:Arial;font-size:13px;color:#000000;line-height:22px">
							<p style="margin:0px 0px 10px 0px;line-height:22px">
								Ceci est un bloc de texte! Cliquez sur ce texte pour le modifier. Vous pouvez ajouter du
								contenu facilement en glissant-déposant les blocs de contenu de la barre latérale droite.
								Faites glisser ce bloc ou d’autres pour organiser votre newsletter.
								</p>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
