<div class="lyrow dragitem">
	<a href="#close" class="remove label label-danger">
		<i class="glyphicon-trash glyphicon"></i>
	</a>
	<span class="drag label label-default hide">
		<i class="glyphicon glyphicon-move"></i>
	</span>
	<span class="configuration">
		<a href="#" class="btn btn-default btn-xs clone">
			<i class="fa fa-clone"></i> </a>
	</span>
	<div class="preview">
		<div class="icon title-block"></div>
		<label>Titre</label>
	</div>
	<div class="view">
		<div class="row clearfix">
			<table width="640" class="main" cellspacing="0" cellpadding="0" border="0" align="center"
				   style="background-color:#FFFFFF;" data-type="title">
				<tbody>
					<tr>
						<td align="left" class="title" style="padding:5px 50px 5px 50px">
							<h1 style="font-family:Arial"> Saisissez votre titre ici! </h1>
							<h4>Votre sous-titre</h4>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
