<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

		<title>editor email</title>

		<!-- styles -->

		<link href="{{ asset('bundles/sixnappsemailbuilder/css/colpick.css') }}" rel="stylesheet" type="text/css" />

		{% if bootstrap is not defined or bootstrap == false %}
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
			  integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ=="
			  crossorigin="anonymous">
		{% endif %}

		{% if fontAwesome is not defined or fontAwesome == false %}
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		{% endif %}

		<link href="{{ asset('bundles/sixnappsemailbuilder/css/themes/default.css') }}" rel="stylesheet" type="text/css" />
		<link href="{{ asset('bundles/sixnappsemailbuilder/css/template.editor.css') }}" rel="stylesheet" />
		<link href="{{ asset('bundles/sixnappsemailbuilder/css/responsive-table.css') }}" rel="stylesheet" />

		<!--[if lt IE 9]>
			<script src="{{ asset('bundles/sixnappsemailbuilder/bower_components/html5shiv/dist/html5shiv.js') }}"></script>
		<![endif]-->
		<script type="text/javascript" src="http://feather.aviary.com/js/feather.js"></script>
		{% if jquery is not defined or jquery == false %}
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
			{#<script src="{{ asset('bundles/sixnappsemailbuilder/bower_components/jquery/dist/jquery.min.js') }}"></script>#}
		{% endif %}
		{% if jqueryUi is not defined or jqueryUi == false %}
			<script type="text/javascript" src="https://code.jquery.com/ui/1.9.2/jquery-ui.min.js"></script>
		{% endif %}
		{% if jqueryUiTouchPunch is not defined or jqueryUiTouchPunch == false  %}
			<script type="text/javascript"
					src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>
		{% endif %}
		{% if bootstrap is not defined or bootstrap == false %}
			<script src="{{ asset('bundles/sixnappsemailbuilder/bower_components/bootstrap/dist/js/bootstrap.js') }}"></script>
		{% endif %}

		<script src="{{ asset('bundles/sixnappsemailbuilder/bower_components/tinymce/tinymce.min.js') }}"></script>
		<script src="{{ asset('bundles/sixnappsemailbuilder/bower_components/tinymce/plugins/colorpicker/plugin.js') }}"></script>
		<script type="text/javascript" src="{{ asset('bundles/sixnappsemailbuilder/js/colpick.js') }}"></script>
		<script type="text/javascript" src="{{ asset('bundles/sixnappsemailbuilder/js/template.editor.js') }}"></script>


	</head>
	<body class="edit">
		{% include('@SixnappsEmailBuilder/section.navbar.html.twig') %}

		<div class="row">
			{% include('@SixnappsEmailBuilder/section.sidebar.html.twig') %}

			<a href="#" class="btn btn-info btn-xs" id="edittamplate">Editer le fond</a>

			{% include('@SixnappsEmailBuilder/section.toSave.html.twig') %}

			<div id="download-layout"></div>
		</div>

		<textarea id="imageid" class="hide"></textarea>
		<textarea id="download" class="hide"></textarea>
		<textarea id="selector" class="hide"></textarea>
		<textarea id="path" class="hide"></textarea>

	</body>
</html>
