<div class="navbar navbar-inverse navbar-fixed-top navbar-layoutit">
	<div class="navbar-header">
		<button data-target="navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
			<span class="glyphicon-bar"></span>
			<span class="glyphicon-bar"></span>
			<span class="glyphicon-bar"></span>
		</button>

	</div>
	<div class="collapse navbar-collapse">

		<ul class="nav" id="menu-layoutit">
			<li>
				<div class="btn-group" data-toggle="buttons-radio">
					<button type="button" class="btn btn btn-default" id="sourcepreview">
						<i class="glyphicon-eye-open glyphicon"></i> Aperçu
					</button>
				</div>
				<div class="btn-group">
					<a class="btn btn btn-warning" href="#save" id="save">
						<i class="glyphicon glyphicon-floppy-disk"></i> Enregistrer
					</a>
				</div>
			</li>
		</ul>
	</div>
</div>
