<div class="modal fade" id="previewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content" style="min-width:120px">
			<div class="modal-header">
				<input id="httphref" type="text" name="href" value="http://" class="form-control" />
			</div>
			<div class="modal-body" align="center">
				<div class="btn-group  previewActions">
					<a class="btn btn-default btn-sm active" href="#">iphone</a>
					<a class="btn btn-default btn-sm " href="#">phablette</a>
					<a class="btn btn-default btn-sm " href="#">ipad</a>
				</div>
				<iframe id="previewFrame" class="iphone"></iframe>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-info" data-dismiss="modal">Fermer</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="previewimg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content" style="min-width:120px">
			<div class="modal-header">
				Galerie d'image
			</div>
			<div class="modal-body" align="center">
				<?include("media-popup.php");?>
			</div>
			<div class="modal-footer">

				<button type="button" class="btn btn-info" data-dismiss="modal">Fermer</button>
			</div>
		</div>
	</div>
</div>
