<div id="tosave" data-id="<?php echo $id?>" data-paramone="11" data-paramtwo="22" data-paramthree="33">
	<!-- inizio parte html da salvare -->
	<table width="100%" border="0" cellspacing="0" cellpadding="0" style="background: #eeeeee">
		<tr>
			<td width="100%" id="primary" class="main demo" align="center" valign="top">
				<!-- inizio contentuto      -->
				<div class="lyrow">
					<div class="view">
						<div class="row clearfix">
							<!-- Content starts here-->
							<table width="640" class="preheader" align="center" cellspacing="0"
								   cellpadding="0" border="0">
								<tr>
									<td align="left" class="preheader-text" width="420"
										style="padding: 15px 0px; font-family: Arial; font-size: 11px; color: #666666"></td>
									<td class="preheader-gap" width="20"></td>
									<td class="preheader-link" align="right" width="200"
										style="padding: 15px 0px; font-family: Arial; font-size: 11px; color: #666666">
										You don't view images? <a style="color: #666666;"
																  href="[linkvsonline]">Click here</a>
									</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
				<div class="column">
					<!-- default element text -->
					<div class="lyrow">
						<a href="#close" class="remove label label-danger"><i
									class="glyphicon-remove glyphicon"></i></a>
						<span class="drag label label-default"><i
									class="glyphicon glyphicon-move"></i></span>
						<div class="view">
							<div class="row clearfix">
								<table width="640" class="main" cellspacing="0" cellpadding="0" border="0"
									   bgcolor="#FFFFFF" align="center" data-type='text-block'
									   style="background-color: #FFFFFF;">
									<tbody>
										<tr>
											<td class="block-text" align="left"
												style="padding:10px 50px 10px 50px;font-family:Arial;font-size:13px;color:#000000;line-height:22px">
												<p style="margin:0px 0px 10px 0px;line-height:22px">
												<center>
													<i class="fa fa-arrow-up fa-3x"></i> <br><br>
													Modify me or drag the content of email in top or bottom
													<br><br>
													<i class="fa fa-arrow-down fa-3x"></i>
												</center>
												</p>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</td>
		</tr>
	</table>
</div>

